<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/62139dec-4b9a-4661-8448-b84bf8cc354b/resourceGroups/RG-PD-NE-EDP-DEV-01/providers/Microsoft.Web/sites/wa-pd-we-edp-bra-dev01</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wa-pd-we-edp-bra-dev01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>8b83673f-6b94-4401-995e-956e8f0b3e05</ProjectGuid>
    <PublishUrl>https://wa-pd-we-edp-bra-dev01.scm.azurewebsites.net/</PublishUrl>
    <UserName>$wa-pd-we-edp-bra-dev01</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>